body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

a {
    color: dimgrey;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: Consolas, Monaco, monospace;*/
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#title{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 50px;
    letter-spacing: 2.8px;
    word-spacing: 1.6px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}

#subtitle{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 30px;
    letter-spacing: 1.4px;
    word-spacing: 0.8px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
}

#headline{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    letter-spacing: 1.4px;
    word-spacing: 0.8px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

#bodytext{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


#textshadow{
    color: #d9d9d9;
    background: #e8e8e8;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

#boxshadow{
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.8);
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.8);
}

.navbar {
    background-color: white;
    font-size: 18px;
}

.navbar-brand {
    color: #333;
    font-size: 30px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: whitesmoke;
    display: block;
}

.button {
    display: inline-block;
    border-radius: 2px;
    background-image: linear-gradient(
            to right,
            #97C0BC, #6494A0
    );
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 4px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
    color: #FFFFFF;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
    color: #FFFFFF;
}