{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center align-items-center">
    <div style="text-align: center;">
        <h1 class="title">Publication</h1>

        <h3 class="headline">Human Computation 2019</h3>
        <a class="nav-link" href="../static/pdf/BiasDetection_camera.pdf">Learn more<span class="sr-only">(current)</span></a>


		<div style="display:flex">
			 <div style="flex:1;padding-right:5px;">
				  <img src="../static/images/publication/HCOMP1.png" style="width:120%">
			 </div>
			 <div style="flex:1;padding-left:5px;">
				  <img src="../static/images/publication/HCOMP2.png" style="width:120%">
			 </div>
			 <div style="flex:1;padding-left:5px;">
				  <img src="../static/images/publication/HCOMP3.png" style="width:120%">
			 </div>
		</div>
		<hr>

        <h3 class="headline">International World Wide Web Conference 2020</h3>
        <a class="nav-link" href="../static/pdf/www20-72.pdf">Learn more<span class="sr-only">(current)</span></a>

		<div style="display:flex">
			 <div style="flex:1;padding-right:5px;">
				  <img src="../static/images/publication/www1.png" style="width:120%">
			 </div>
			 <div style="flex:1;padding-left:5px;">
				  <img src="../static/images/publication/www2.png" style="width:120%">
			 </div>
			 <div style="flex:1;padding-left:5px;">
				  <img src="../static/images/publication/www3.png" style="width:120%">
			 </div>

		</div>
		<div style="display:flex">
			<div style="flex:1;padding-left:5px;">
				  <img src="../static/images/publication/www4.png" style="width:120%">
			 </div>
			 <div style="flex:1;padding-right:5px;">
				  <img src="../static/images/publication/www5.png" style="width:120%">
			 </div>
			 <div style="flex:1;padding-left:5px;">
				  <img src="../static/images/publication/www6.png" style="width:120%">
			 </div>
			 <div style="flex:1;padding-left:5px;">
				  <img src="../static/images/publication/www7.png" style="width:120%">
			 </div>
		</div>

	</div>
</div>


{% endblock%}